[data-theme='DDS'] {
	--text-scaling: 1.0;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.28rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 2px;
	--default-divide-width: 2px;
	--default-ring-width: 2px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.4% 0.11 156.88deg);
	--color-primary-100: oklch(86.36% 0.11 156.58deg);
	--color-primary-200: oklch(79.19% 0.11 156.89deg);
	--color-primary-300: oklch(71.69% 0.11 156.5deg);
	--color-primary-400: oklch(64.31% 0.12 156.28deg);
	--color-primary-500: oklch(56.85% 0.12 154.94deg);
	--color-primary-600: oklch(50.43% 0.11 153.49deg);
	--color-primary-700: oklch(43.78% 0.1 151.2deg);
	--color-primary-800: oklch(36.87% 0.09 149.15deg);
	--color-primary-900: oklch(29.65% 0.08 145.89deg);
	--color-primary-950: oklch(21.83% 0.07 142.5deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.78% 0.05 199.07deg);
	--color-secondary-100: oklch(88.5% 0.06 212.54deg);
	--color-secondary-200: oklch(81.32% 0.07 222.78deg);
	--color-secondary-300: oklch(73.87% 0.07 232.9deg);
	--color-secondary-400: oklch(66.49% 0.09 239.49deg);
	--color-secondary-500: oklch(58.8% 0.1 245.73deg);
	--color-secondary-600: oklch(52.04% 0.1 247.98deg);
	--color-secondary-700: oklch(45.31% 0.09 249.57deg);
	--color-secondary-800: oklch(38.17% 0.09 252.95deg);
	--color-secondary-900: oklch(30.94% 0.08 255.26deg);
	--color-secondary-950: oklch(23% 0.08 257.02deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.3% 0.09 107.98deg);
	--color-tertiary-100: oklch(92.25% 0.09 98.77deg);
	--color-tertiary-200: oklch(86% 0.1 88.38deg);
	--color-tertiary-300: oklch(79.94% 0.1 79.35deg);
	--color-tertiary-400: oklch(73.74% 0.11 69.76deg);
	--color-tertiary-500: oklch(67.82% 0.12 62.18deg);
	--color-tertiary-600: oklch(60.54% 0.12 59.11deg);
	--color-tertiary-700: oklch(53.27% 0.11 55.98deg);
	--color-tertiary-800: oklch(45.45% 0.1 52.02deg);
	--color-tertiary-900: oklch(37.73% 0.09 47.22deg);
	--color-tertiary-950: oklch(29.59% 0.09 42.53deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.29% 0.12 137.08deg);
	--color-success-100: oklch(89.85% 0.14 139.92deg);
	--color-success-200: oklch(85.56% 0.17 141.41deg);
	--color-success-300: oklch(81.54% 0.19 142.24deg);
	--color-success-400: oklch(77.71% 0.22 142.65deg);
	--color-success-500: oklch(74.19% 0.23 142.83deg);
	--color-success-600: oklch(67.53% 0.21 142.8deg);
	--color-success-700: oklch(60.44% 0.19 142.75deg);
	--color-success-800: oklch(53.43% 0.17 142.7deg);
	--color-success-900: oklch(45.9% 0.15 142.63deg);
	--color-success-950: oklch(38.32% 0.13 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.99% 0.11 108.31deg);
	--color-warning-100: oklch(95.9% 0.14 105.21deg);
	--color-warning-200: oklch(93.93% 0.16 102.84deg);
	--color-warning-300: oklch(92.07% 0.17 100.68deg);
	--color-warning-400: oklch(90.33% 0.18 98.24deg);
	--color-warning-500: oklch(88.68% 0.18 95.32deg);
	--color-warning-600: oklch(81.48% 0.17 95.32deg);
	--color-warning-700: oklch(73.91% 0.15 94.76deg);
	--color-warning-800: oklch(66.36% 0.14 94.67deg);
	--color-warning-900: oklch(58.37% 0.12 93.82deg);
	--color-warning-950: oklch(50.31% 0.1 93.5deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(81.96% 0.1 17.25deg);
	--color-error-100: oklch(75.7% 0.13 14.32deg);
	--color-error-200: oklch(69.84% 0.16 13.91deg);
	--color-error-300: oklch(64.74% 0.19 14.7deg);
	--color-error-400: oklch(60.36% 0.21 16.91deg);
	--color-error-500: oklch(57.12% 0.22 20.09deg);
	--color-error-600: oklch(51.73% 0.2 21.19deg);
	--color-error-700: oklch(46.21% 0.18 22.54deg);
	--color-error-800: oklch(40.3% 0.16 24.12deg);
	--color-error-900: oklch(34.35% 0.14 25.99deg);
	--color-error-950: oklch(28% 0.11 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(93.99% 0.01 286.23deg);
	--color-surface-100: oklch(86.67% 0.01 286.19deg);
	--color-surface-200: oklch(79.17% 0.01 286.19deg);
	--color-surface-300: oklch(71.21% 0.01 286.09deg);
	--color-surface-400: oklch(63.3% 0.01 286.07deg);
	--color-surface-500: oklch(55.17% 0.01 285.99deg);
	--color-surface-600: oklch(47.83% 0.02 285.82deg);
	--color-surface-700: oklch(40.5% 0.01 285.75deg);
	--color-surface-800: oklch(32.51% 0.02 285.4deg);
	--color-surface-900: oklch(24.33% 0.02 285.08deg);
	--color-surface-950: oklch(15.05% 0.02 283.54deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}